<!--  -->
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon pe-7s-cash icon-gradient bg-night-fade"></i>
      </div>
      <div class="card-title">
        <h2>
          CHIFFRES ET INFORMATIONS CLÉS
        </h2>
        <div class="page-title-subheading">
          Retrouvez ici les chiffes et informations clés relatives à vos évènements
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-md-12">
  <div class="main-card mb-3 card">
    <div class="pt-0 pb-0 card-body">
      <h4 class="card-title">ÉVÉNEMENTS EN COURS</h4>
      <ul class="list-group list-group-flush">
        <app-affichage-evenement-finance *ngFor="let event of evenementsEnCours" [event]="event"></app-affichage-evenement-finance>
      </ul>
    </div>
  </div>
</div>
