<!-- Event Search Area Start -->
<div class="row">
  <div class="col-3">
    <div class="event-search-area section-padding-80">
      <div class="event-search-content">
        <form action="#" class="search-form">
          <div class="row align-items-end">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="search">Nom</label>
                <input type="text" [(ngModel)]="nom" class="form-control" name="search" placeholder="Snow">
                <small class="form-input-icon">
                  <i class="icon_calendar"></i>
                </small>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="search">Prenom</label>
                <input type="search" [(ngModel)]="prenom" class="form-control" name="search" placeholder="John">
                <small class="form-input-icon">
                  <i class="icon_calendar"></i>
                </small>
              </div>
            </div>
            <br/>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="search">Mail</label>
                <input type="mail" [(ngModel)]="mail" class="form-control" name="search" placeholder="Snow@gmail.com">
                <small class="form-input-icon">
                  <i class="icon_calendar"></i>
                </small>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="event-date">Date de naissance</label>
                <input type="date" [(ngModel)]="dateNaissance" class="form-control" name="event-date" >
                <small class="form-input-icon">
                  <i class="icon_calendar"></i>
                </small>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group text-center">
                <button type="submit" routerLink="/pop-up" class="btn razo-btn">S'inscrire</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-9 oh">
    <img src="https://static.next-concert.com/view/vt-static/854d-9d69-c46b-af43-804a-0864-cfa6-c0a6.jpg">
  </div>
</div>