<!-- Single Razo Event Area -->
<div class="col-12">
    <div class="single-razo-event-area d-flex flex-wrap align-items-center mb-50 wow fadeInUp" data-wow-delay="500ms">
        <!-- Thumbnail -->
        <div class="event-thumbnail">
            <img src="assets/images/core-img/image-event.jpg">
        </div>
        <!-- Event Content -->
        <div class="event-content d-flex align-items-center">
            <div class="event-text">
                <h5>{{evenement.intitule}}</h5>
                <div class="event-meta">
                    <a href="#" class="event-date">
                        <i class="icon_calendar"></i> {{evenement.dateDebut | date:'dd/MM/yyyy hh:mm'}}</a>
                    <a href="#" class="event-time">
                        <i class="icon_clock_alt"></i> {{evenement.dateFin | date:'dd/MM/yyyy hh:mm'}}</a>
                    <a href="#" class="event-address">
                        <i class="icon_pin_alt"></i> {{evenement.adresse.numeroVoie}} {{evenement.adresse.typeVoie.libelle}} {{evenement.adresse.nomVoie}}, {{evenement.adresse.ville.libelle}}</a>
                </div>
                <p>{{evenement.description}}</p>
                <a routerLink="/consultation-event/{{evenement.id}}" class="btn read-more-btn">En savoir plus
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </div>
            <!-- Event Purchase Button -->
            <div class="event-purchase-button">
                <a href="#" class="btn razo-btn" routerLink="/formulaire/{{evenement.id}}">
                    <i class="fa fa-ticket"></i> Inscription : {{evenement.prix}}€</a>
            </div>
        </div>
    </div>
</div>