<li *ngIf="event" class="list-group-item">
  <div class="widget-content p-0">
    <div class="widget-content-outer">
      <div class="widget-content-wrapper">
        <div class="widget-content-left">
          <div class="card-title">
            <h5>{{event.intitule}}</h5>
          </div>
        </div>
        <div class="widget-content-right">
          <div class="card_title"><h5>Bénéfices</h5></div>
          <div class="widget-numbers primary">{{benef}} €</div>
        </div>
      </div>
    </div>
  </div>
  <ul>
    <li class="list-group-item">
      <div class="widget-content p-0">
        <div class="widget-content-outer">
          <div class="widget-content-wrapper">
            <div class="widget-content-left">
              <div class="widget-heading">
                <h6>Recettes</h6>
              </div>
            </div>
            <div class="widget-content-right">
              <div class="chart">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
                  [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</li>