<div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="icon pe-7s-cash icon-gradient bg-night-fade"></i>
        </div>
        <div class="card-title">
          <h2>
          MES ÉVÉNEMENTS
        </h2>
          <div class="page-title-subheading">
              Retrouvez ici les événements qui vous ont été affectés
          </div>
        </div>
      </div>
    </div>
  </div>
<ngb-accordion [closeOthers]="true">
  <ngb-panel *ngFor="let event of events" id="static-{{event.id}}">
    <ng-template ngbPanelTitle>
      <div class="card-header--title" style="padding:20px;">
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content pt-3 pl-3 pb-1 box-info">
            <div class="widget-chart-flex">
              <div class="widget-numbers">
                <div class="widget-chart-flex">
                  <div class="fsize-3 top" style="font-weight: 600; width: max-content;">
                    <span>{{event.intitule}}</span>
                  </div>
                </div>
                <div class="fsize-2 mid" style="width: max-content;">Évenement
                  {{event.typeEvenement.libelle.toLowerCase()}}</div>
              </div>
            </div>
            <h6 class="widget-subheading mb-0 opacity-5" style="width: max-content;">Budget : {{event.budget}}€</h6>
          </div>
        </div>
      </div>
      <div class="box-info">
        <div class="fsize-2 top">
          <span style="float: right;">{{event.dateDebut | date:'dd/MM/yyyy'}} à
            {{event.dateDebut | date:'hh:mm'}} - {{event.dateFin | date:'dd/MM/yyyy'}} à
            {{event.dateFin | date:'hh:mm'}}</span>
        </div>
        <div class="fsize-1 mid">
          <span style="float: right;">Localisation : {{event.adresse.numeroVoie}} {{event.adresse.typeVoie.libelle}}
            {{event.adresse.nomVoie}}, {{event.adresse.ville.libelle}}, {{event.adresse.ville.pays.libelle}}</span>
        </div>
        <div class="bot">
          <h6 class="widget-subheading mb-0 opacity-5" style="float: right;">Tarif : {{event.prix}}€</h6>
        </div>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <app-evenement-accordeon [event]="event"></app-evenement-accordeon>
    </ng-template>
  </ngb-panel>
</ngb-accordion>