<app-page-title-activite-ra [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title-activite-ra>

<div class="row">
  <div class="col-sm-12 col-lg-8">
    <div class="main-card mb-3 card">
      <div class="card-header">
        <div class="card-title"><h5>TO DO LISTE</h5></div>
      </div>
      <div class="table-responsive">
        <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Intitulé</th>
              <th class="text-center">Bénévole responsable</th>
              <th class="text-center">Statut</th>
              <th class="text-center">Deadline</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tache of taches">
              <td class="text-center text-muted" style="width: 80px;">#{{tache.id}}</td>

              <td class="text-center">{{tache.typeTaches.intitule}}</td>
              <td class="text-center" *ngIf="tache.benevole != null">{{tache.benevole.raisonSociale}}</td>


              <td class="text-center" *ngIf="tache.benevole == null">

                <!--debut elem modal-->

                <div class="card-body" style="padding-top:0px">
                  <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title">Choisissez un bénévole :</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <perfect-scrollbar style="height: 250px;" [config]="config">
                        <div class="position-relative form-group">
                          <div>
                            <div class="custom-radio custom-control" *ngFor="let ben of benevoles">
                              <input type="radio" id="{{ben.id}}" value="{{ben.id}}" [(ngModel)]="selectedIdBenevole"
                                name="customRadio" class="custom-control-input">
                              <label for="{{ben.id}}" class="custom-control-label">{{ben.raisonSociale}}</label>
                            </div>
                          </div>
                        </div>
                      </perfect-scrollbar>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
                      <button type="button" class="btn btn-primary"
                        (click)="affecterBenevole(); c('Close click')">Affecter le bénévole</button>
                    </div>
                  </ng-template>
                  <div class="badge badge-pill badge-info ml-2"
                    (click)="open(content); getAllBenevoles(); setTache(tache)" style="font-size: 1em">AFFECTER UN
                    RESPONSABLE</div>
                </div>
                <!--fin elem modal-->




              </td>
              <td class="text-center" *ngIf="tache.statut.id == 1">
                <div class="badge badge-pill badge-warning" style="font-size: 1em">{{tache.statut.intitule}}</div>

              </td>
              <td class="text-center" *ngIf="tache.statut.id == 2">
                <div class="badge badge-pill badge-success" style="font-size: 1em">{{tache.statut.intitule}}</div>
              </td>
              <td class="text-center" *ngIf="tache.statut.id == 1">
                dans {{tache.deadline}} jours
              </td>

              <td class="text-center" *ngIf="tache.statut.id ==1">
                <button class="mb-2 mr-2 btn-transition btn btn-outline-success">Marquer comme accomplie</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-block p-4 text-center card-footer">
        <button class="btn-shadow d-inline-flex align-items-center btn btn-success">

          <fa class="mr-2" name="plus"></fa>Ajouter une tâche
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="main-card mb-3 card">
      <div class="card-body" style="display: flex; justify-content: space-between;padding:1rem;">
        <ng-template #content7 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Choisissez un prestataire : </h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <perfect-scrollbar style="height: 250px;" [config]="config">
              <div class="position-relative form-group">
                <div>
                  <div class="custom-radio custom-control" *ngFor="let res of allPrestataires">
                    <input type="radio" id="{{res.id}}" value="{{res.id}}" [(ngModel)]="selectedIdRessource"
                      name="customRadio" class="custom-control-input">
                    <label for="{{res.id}}" class="custom-control-label">{{res.raisonSociale}}</label>
                  </div>
                </div>
              </div>
            </perfect-scrollbar>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
            <button type="button" class="btn btn-primary" (click)="affecterRessource(); c('Close click')">Affecter le
              prestataire</button>
          </div>
        </ng-template>
        <!-- <div style="display: flex; justify-content: space-between; padding:0px;"> -->
          <div class="card-title"><h5>PRESTATAIRES AFFECTÉS</h5></div>
          <button class="btn-shadow d-inline-flex align-items-center btn btn-success"
            (click)="open(content7);getAllRessources();">
            <fa class="mr-2" name="plus"></fa>Affecter un prestataire
          </button>
        <!-- </div> -->
      </div>



      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let p of prestataires">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left mr-3">
                <i aria-hidden="true" class="fa fa-fw" title="user"></i>
              </div>
              <div class="widget-content-left">
                <div class="widget-heading">{{p.raisonSociale}}</div>
                <div class="widget-subheading">{{p.mail}}</div>
                <div class="widget-heading" *ngIf="p.prix !=null"> TARIFS : {{p.prix}} euros/heure</div>

              </div>
              <div class="widget-content-right">
                <div class="widget-content-right">
                  <button class="btn-pill btn-hover-shine btn btn-focus btn-sm"
                    (click)="open(content7);getAllRessources();">Changer de prestataire</button>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>

<div class="col-sm-12 col-lg-6"></div>
</div>