<!-- Music Charts Portfolio Area Start -->
<section class="razo-charts-portfolio-area section-padding-80">
  <div class="container">
      <div class="row">

          <!-- Single Charts Portfolio -->
          <div class="col-12 col-sm-6 col-lg-4">
              <div class="single-charts-portfolio mb-30">
                  <img src="assets/images/bg-img/35.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay-content">
                      <div class="text-center">
                          <h5>Screaming Females</h5>
                          <p>January 15, 2018</p>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Single Charts Portfolio -->
          <div class="col-12 col-sm-6 col-lg-4">
              <div class="single-charts-portfolio mb-30">
                  <img src="assets/images/bg-img/36.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay-content">
                      <div class="text-center">
                          <h5>Screaming Females</h5>
                          <p>January 15, 2018</p>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Single Charts Portfolio -->
          <div class="col-12 col-sm-6 col-lg-4">
              <div class="single-charts-portfolio mb-30">
                  <img src="assets/images/bg-img/37.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay-content">
                      <div class="text-center">
                          <h5>Screaming Females</h5>
                          <p>January 15, 2018</p>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Single Charts Portfolio -->
          <div class="col-12 col-sm-6 col-lg-4">
              <div class="single-charts-portfolio mb-30">
                  <img src="assets/images/bg-img/38.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay-content">
                      <div class="text-center">
                          <h5>Screaming Females</h5>
                          <p>January 15, 2018</p>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Single Charts Portfolio -->
          <div class="col-12 col-sm-6 col-lg-4">
              <div class="single-charts-portfolio mb-30">
                  <img src="assets/images/bg-img/39.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay-content">
                      <div class="text-center">
                          <h5>Screaming Females</h5>
                          <p>January 15, 2018</p>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Single Charts Portfolio -->
          <div class="col-12 col-sm-6 col-lg-4">
              <div class="single-charts-portfolio mb-30">
                  <img src="assets/images/bg-img/40.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay-content">
                      <div class="text-center">
                          <h5>Screaming Females</h5>
                          <p>January 15, 2018</p>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Single Charts Portfolio -->
          <div class="col-12 col-sm-6 col-lg-4">
              <div class="single-charts-portfolio mb-30">
                  <img src="assets/images/bg-img/41.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay-content">
                      <div class="text-center">
                          <h5>Screaming Females</h5>
                          <p>January 15, 2018</p>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Single Charts Portfolio -->
          <div class="col-12 col-sm-6 col-lg-4">
              <div class="single-charts-portfolio mb-30">
                  <img src="assets/images/bg-img/42.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay-content">
                      <div class="text-center">
                          <h5>Screaming Females</h5>
                          <p>January 15, 2018</p>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Single Charts Portfolio -->
          <div class="col-12 col-sm-6 col-lg-4">
              <div class="single-charts-portfolio mb-30">
                  <img src="assets/images/bg-img/43.jpg" alt="">
                  <!-- Overlay -->
                  <div class="overlay-content">
                      <div class="text-center">
                          <h5>Screaming Females</h5>
                          <p>January 15, 2018</p>
                      </div>
                  </div>
              </div>
          </div>

      </div>

      <div class="row">
          <div class="col-12">
              <div class="view-more-button text-center">
                  <a href="#" class="btn razo-btn mt-30">View More</a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Music Charts Portfolio Area End -->