<div class="produit">
    <button type="button" class="btn-fermeture">
        <i class="fa fa-times"></i>
    </button>
  <div class="product-thumbnail col-sm-5">
    <img src="assets/images/bg-img/66.jpg" alt="">
  </div>
  <div class="product-title col-sm-7">
    <p>Suicide prevention strategies need more resources (Événement)</p>
    <p>Montant : 0&nbsp;€</p>
  </div>
</div>