.produit *
    display: inline-block
    vertical-align: middle
    padding: 5px

.produit .product-title p
    font-size: 12.5px;
    margin: 0

.btn-fermeture
    position: absolute
    right: 2px
    top: 2px
    padding: 0
    border: none
    background-color: transparent