<!-- Event Search Area Start -->
<div class="event-search-area section-padding-80">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="event-search-content">
          <form action="#" class="search-form">
            <div class="row align-items-end">
              <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                  <label for="event-date">Date</label>
                  <input type="date" class="form-control" id="event-date">
                  <small class="form-input-icon">
                    <i class="icon_calendar"></i>
                  </small>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                  <label for="location">Lieu</label>
                  <input type="text" class="form-control" id="location" placeholder="11 rue Danton, 92240">
                  <small class="form-input-icon">
                    <i class="icon_pin_alt"></i>
                  </small>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                  <label for="search">Mots clefs</label>
                  <input type="search" class="form-control" id="search" placeholder="Concert">
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="form-group text-right">
                  <button type="submit" class="btn razo-btn w-100">Rechercher</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Event Search Area End -->
<!-- Affichage des événements en fonction de ce qu'il y a dans la liste -->
<div class="container">
  <div class="row" *ngFor="let event of evenements">
    <!-- Single Razo Event Area -->
    <div class="col-12">
      <div class="single-razo-event-area d-flex flex-wrap align-items-center mb-50 wow fadeInUp" data-wow-delay="500ms">
        <!-- Thumbnail -->
        <div class="event-thumbnail">
          <img src="assets/images/core-img/image-event.jpg">
        </div>
        <!-- Event Content -->
        <div class="event-content d-flex align-items-center">
          <div class="event-text">
            <h5>{{event.intitule}}</h5>
            <div class="event-meta">
              <a href="#" class="event-date">
                <i class="icon_calendar"></i> {{event.dateDebut | date:'dd/MM/yyyy hh:mm'}}</a>
              <a href="#" class="event-time">
                <i class="icon_clock_alt"></i> {{event.dateFin | date:'dd/MM/yyyy hh:mm'}}</a>
              <a href="#" class="event-address">
                <i class="icon_pin_alt"></i> {{event.adresse.numeroVoie}} {{event.adresse.typeVoie.libelle}}
                {{event.adresse.nomVoie}}, {{event.adresse.ville.libelle}}</a>
            </div>
            <p>{{event.description}}</p>
            <a routerLink="/consultation-event/{{event.id}}" (click)="setSelectedEvent(event)"
              class="btn read-more-btn">En savoir plus
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          </div>
          <!-- Event Purchase Button -->
          <div class="event-purchase-button">
            <a href="#" class="btn razo-btn" routerLink="/formulaire/{{event.id}}">
              <i class="fa fa-ticket"></i> Inscription : {{event.prix}}€</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>