<div class="h-100 bg-plum-plate bg-animation">
    <div class="d-flex h-100 justify-content-center align-items-center">
      <div class="mx-auto app-login-box col-md-8">
        <div class="modal-dialog w-100 mx-auto">
          <div class="modal-content">
            <div class="modal-body">
              <div class="h5 modal-title text-center">
                <h4 class="mt-2">
                  <div>Validez-vous l'inscription à l'événement : Célébration de la St-Valentin ?</div>
                </h4>
              </div>
              <div class="float-right">
                  <button type="button" routerLink="/app-formulaire" class="btn btn-primary btn-lg">Annuler</button>
                </div>
              <div class="float-right">
                <button type="button" routerLink="/app-accueil" class="btn btn-primary btn-lg">Valider</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>