<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()" (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <h5 class="card-title">Bonjour, {{lp.prenom}} {{lp.nom}} !</h5>
    <div class="header__pane ml-auto">
      
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" [activeIds]="extraParameter">
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">CHIFFRES ET INFOS CLÉS</div>
                </ng-template>
              </ngb-panel>

              <ngb-panel id="dashboardsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link" routerLink="stats-lp">
                    <i class="vsm-icon pe-7s-graph3"></i>
                    <span class="vsm-title" style="font-weight: 600">Chiffres et infos clés</span>
                  </button>
                </ng-template>
              </ngb-panel>

              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">MES ÉVÉNEMENTS</div>
                </ng-template>
              </ngb-panel>

              <ngb-panel id="elementsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link" routerLink="event">
                    <i class="vsm-icon pe-7s-date"></i>
                    <span class="vsm-title" style="font-weight: 600">Évènements</span>
                  </button>
                </ng-template>             
              </ngb-panel>

              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">MES CONTACTS</div>
                </ng-template>
              </ngb-panel>

              
              <ngb-panel id="dashboardMenu">
                  <ng-template ngbPanelHeader>
                    <button class="vsm-link">
                      <i class="vsm-icon pe-7s-user" style="font-weight: 600"></i>Bénévoles</button>
  
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="dashboardMenu">
                    <ng-template ngbPanelHeader>
                      <button class="vsm-link">
                        <i class="vsm-icon pe-7s-user" style="font-weight: 600"></i>Traiteurs</button>
    
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel id="dashboardMenu">
                      <ng-template ngbPanelHeader>
                        <button class="vsm-link">
                          <i class="vsm-icon pe-7s-user" style="font-weight: 600"></i>Conférenciers</button>
      
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="dashboardMenu">
                        <ng-template ngbPanelHeader>
                          <button class="vsm-link">
                            <i class="vsm-icon pe-7s-user" style="font-weight: 600"></i>Musiciens</button>
        
                        </ng-template>
                      </ngb-panel>
                    <ngb-panel id="dashboardMenu">
                        <ng-template ngbPanelHeader>
                          <button class="vsm-link">
                            <i class="vsm-icon pe-7s-user" style="font-weight: 600"></i>Formateurs</button>
        
                        </ng-template>
                      </ngb-panel>
                    <ngb-panel id="dashboardMenu">
                        <ng-template ngbPanelHeader>
                          <button class="vsm-link">
                            <i class="vsm-icon pe-7s-user" style="font-weight: 600"></i>Prestataires transports</button>
        
                        </ng-template>
                      </ngb-panel>
                    <ngb-panel id="dashboardMenu">
                        <ng-template ngbPanelHeader>
                          <button class="vsm-link">
                            <i class="vsm-icon pe-7s-user" style="font-weight: 600"></i>Prestataires buvette</button>
        
                        </ng-template>
                      </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>