.btn-gold 
        background-color: white;
        color: #ffd700d6;

        &:focus,
        &:hover 
            background-color: #ffd700d6;
            color: white;
        
.btn-silver
        background-color: white;    
        color: silver;

        &:focus,
        &:hover 
            background-color: silver;
            color: white;   

.btn-bronze
        background-color: white;        
        color: #C49C48;

        &:focus,
        &:hover 
            background-color: #C49C48;
            color: white;   

.single-music-chart
    &:hover,
    &:focus 
        background-color: #1e1e1e;
 
        .btn-gold 
            background-color: #ffd700d6;
            color: white;
        
        .btn-silver 
            background-color: silver;
            color: white;
        
        .btn-bronze 
            background-color: #C49C48;
            color: white;
.nombre
    position: relative;
    z-index: 1;
    padding: 20px 0px;
    transition-duration: 500ms;
    border-bottom: 1px solid #343535;
    width: 2%
    height: 200px

    & h5
        color: transparent;
        padding: 4.5px;

.single-music-chart
    width: 98%

.primary
    background-color: #dc2878

.bronze
    background-color: #C49C48;

.silver
    background-color: silver;

.gold
    background-color: #ffd700d6;

.conteneur
    overflow: hidden;
    height: 93px;

