<!-- Music Charts Area Start -->
<section class="razo-music-charts-area section-padding-80 bg-overlay bg-img jarallax"
    style="background-image: url(assets/images/bg-img/34.jpg);">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center white">
                    <h2>Plaquette tarifaire de sponsoring</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <!-- Single Music Chart -->
                <div class="d-flex conteneur align-items-center fadeInUp justify-content-between wow animated"
                    data-wow-delay="100ms">
                    <div class="nombre primary">
                        <h5>1.</h5>
                    </div>
                    <div class="single-music-chart d-flex align-items-center justify-content-between wow"
                        data-wow-delay="100ms">
                        <!-- Music Content -->
                        <div class="music-content d-flex align-items-center">
                            <div class="music-title">
                                <h5>Package Basic -
                                <br/>
                                    <span>Visibilité sur notre site</span>
                                </h5>
                            </div>
                        </div>
                        <!-- Music Price -->
                        <div class="music-price">
                            <a href="#" class="btn razo-btn btn-2">2500€</a>
                        </div>
                    </div>
                </div>

                <!-- Single Music Chart -->
                <div class="d-flex conteneur align-items-center fadeInUp justify-content-between wow animated"
                    data-wow-delay="100ms">
                    <div class="nombre bronze">
                        <h5>2.</h5>
                    </div>
                    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp"
                        data-wow-delay="300ms">
                        <!-- Music Content -->
                        <div class="music-content d-flex align-items-center">
                            <div class="music-title">
                                <h5>Package bronze  -
                                        <br/>
                                    <span>Visibilité sur notre site & sur les événements mineurs</span>
                                </h5>
                            </div>
                        </div>
                        <!-- Music Price -->
                        <div class="music-price">
                            <a href="#" class="btn razo-btn btn-bronze">10 000€</a>
                        </div>
                    </div>
                </div>

                <!-- Single Music Chart -->
                <div class="d-flex conteneur align-items-center fadeInUp justify-content-between wow animated"
                    data-wow-delay="100ms">
                    <div class="nombre silver">
                        <h5>3.</h5>
                    </div>
                    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp"
                        data-wow-delay="500ms">
                        <!-- Music Content -->
                        <div class="music-content d-flex align-items-center">
                            <div class="music-title">
                                <h5>Package argent -
                                        <br/>
                                    <span>Visibilité sur notre site & sur les événements mineurs et majeurs</span>
                                </h5>
                            </div>
                        </div>
                        <!-- Music Price -->
                        <div class="music-price">
                            <a href="#" class="btn razo-btn btn-silver">25 000€</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex conteneur align-items-center fadeInUp justify-content-between wow animated"
                    data-wow-delay="100ms">
                    <div class="nombre gold">
                        <h5>4.</h5>
                    </div>
                    <div class="single-music-chart d-flex align-items-center justify-content-between wow fadeInUp"
                        data-wow-delay="500ms">
                        <!-- Music Content -->
                        <div class="music-content d-flex align-items-center">
                            <div class="music-title">
                                <h5>Package or -
                                    <span>Visibilité sur notre site & sur les événements mineurs et majeurs. Choix des placements des sponsors et vision sur les événements à venir.</span>
                                </h5>
                            </div>
                        </div>
                        <!-- Music Price -->
                        <div class="music-price">
                            <a href="#" class="btn razo-btn btn-gold">50 000€</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Music Charts Area End -->