<!-- Event Welcome Area Start -->
<section class="event-welcome-area bg-overlay bg-img jarallax" style="background-image: url(assets/images/bg-img/54.jpg);">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-lg-9">
              <div class="event-welcome-text text-center">
                  <span>Prochain événement le : 31/12/2019 12:00</span>
                  <h2>Soirée jour de l'an Isika</h2>
                  <div class="coming-soon-clock mt-30 mb-30">
                      <div id="clock"></div>
                  </div>
                  <div class="event-btn-group">
                      <a href="#" class="btn razo-btn mt-2 mt-sm-0 btn-2 mx-2">Voir les événements</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Event Welcome Area End -->
