<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/1.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-6">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUpBig" data-delay="100ms">Designed For Music, Engineered to Last</h2>
                                <h5 data-animation="fadeInUpBig" data-delay="400ms">31st Dec - Night out party....Don't miss it</h5>
                                <a href="#" class="btn razo-btn btn-2" data-animation="fadeInUpBig" data-delay="700ms">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/30.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-10 col-lg-6">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Designed For Music, Engineered to Last</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">31st Dec - Night out party....Don't miss it</h5>
                                <a href="#" class="btn razo-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/32.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-10 col-lg-6">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Designed For Music, Engineered to Last</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">31st Dec - Night out party....Don't miss it</h5>
                                <a href="#" class="btn razo-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/33.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-10 col-lg-6">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Designed For Music, Engineered to Last</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">31st Dec - Night out party....Don't miss it</h5>
                                <a href="#" class="btn razo-btn btn-2" data-animation="fadeInUp" data-delay="700ms">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Welcome Area End -->

<!-- Blog Area Start -->
<section class="razo-blog-area section-padding-80-0">
    <div class="container">
        <div class="row">
            <!-- Weekly News Area -->
            <div class="col-12 col-md-8">
                <div class="weekly-news-area mb-50">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>{{evenement.intitule}}</h2>
                    </div>

                    <!-- Featured Post Area -->
                    <div class="featured-post-area bg-img mb-30" style="background-image: url(https://www.realite-virtuelle.com/wp-content/uploads/2017/02/video-360-musique-660x330.jpg);">

                    </div>
                    <div class="row">

                        <!-- Single Post Area -->
                        <div class="col-12 col-md-6">
                            <div class="razo-single-post d-flex mb-30">
                                <!-- Post Thumbnail -->
                                <div class="post-thumbnail">
                                    <i class="fa fa-map" aria-hidden="true"></i>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta">
                                    </div>
                                    <h6 class="post-title"> {{evenement.adresse.numeroVoie}} {{evenement.adresse.typeVoie.libelle}} {{evenement.adresse.nomVoie}},
                                        {{evenement.adresse.ville.libelle}}
                                    </h6>
                                </div>
                            </div>
                        </div>

                        <!-- Single Post Area -->
                        <div class="col-12 col-md-6">
                            <div class="razo-single-post d-flex mb-30">
                                <!-- Post Thumbnail -->
                                <div class="post-thumbnail">
                                    <i class="fa fa-table" aria-hidden="true"></i>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <h6 class="post-title">{{evenement.dateDebut | date:'dd/MM/yyyy HH:mm'}} - {{evenement.dateFin | date:'HH:mm'}}</h6>
                                </div>
                            </div>
                        </div>

                        <!-- Single Post Area -->
                        <div class="col-12 col-md-6">
                            <div class="razo-single-post d-flex mb-30">
                                <!-- Post Thumbnail -->
                                <div class="post-thumbnail">
                                    <i class="fa fa-barcode" aria-hidden="true"></i>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">

                                    <h6 class="post-title">{{evenement.prix}} euros</h6>
                                </div>
                            </div>
                        </div>

                        <!-- Single Post Area -->
                        <div class="col-12 col-md-6">
                            <div class="razo-single-post d-flex mb-30">
                                <!-- Post Thumbnail -->
                                <div class="post-thumbnail">
                                    <i class="fa fa-paragraph" aria-hidden="true"></i>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta">
                                    </div>
                                    <h6 class="post-title">{{evenement.description}}</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="event-purchase-button">
                    <a href="#" class="btn razo-btn" routerLink="/formulaire/{{evenement.id}}">
                        <i class="fa fa-ticket"></i> Inscription : {{evenement.prix}}€</a>
                </div>
            </div>

            <!-- Trending News Area -->
            <div class="col-12 col-md-4">
                <div class="trending-news-area mb-50">

                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>Activités</h2>
                    </div>

                    <!-- Single Post Area -->
                    <div class="razo-single-post d-flex mb-30" *ngFor="let activites of activite">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <a href="single-blog.html">
                                <img src="https://www.loiso.fr/wp-content/uploads/2018/06/activite-image.jpg" alt="">
                            </a>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">
                                    <i class="fa fa-barcode" aria-hidden="true"></i> {{activites.prix}}€</a>
                                <a href="#">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i> {{activites.typeActivite.intitule}}</a>
                                <a href="#">
                                    <i class="fa fa-ticket" aria-hidden="true"></i> Capacité: {{activites.nombrePlace}}</a>
                            </div>
                            <a href="single-blog.html" class="post-title">{{activites.intitule}}</a>
                            <p>{{activites.description}}</p>
                            <div class="event-purchase-button">
                                <a href="#" class="btn razo-btn" routerLink="/formulaire">
                                    <i class="fa fa-ticket"></i> Activité : {{activites.prix}}€</a>
                            </div>

                            <h6 class="post-title">{{evenement.prix}} euros</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Post Area -->

            </div>
        </div>
    </div>

    <!-- Trending News Area -->
</section>