.post-thumbnail
    font-size: 50px

.post-title
    font-style: normal

.post-content
    font-style: normal

.razo-single-post *
    vertical-align: super
.razo-btn
    display: block
    margin: auto
    max-width: 230px

