<div class="app-footer">
  <div class="app-footer__inner">
    <div class="app-footer-left">
      <span class="pl-2">Copyright 2019 - projet4-saas.com</span>
    </div>
    <div class="app-footer-right">
      <div class="btn btn-sm btn-primary mr-2" routerLink="/front">Retour au site principal</div>
    </div>
  </div>
</div>
