<app-page-title-lp [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title-lp>
<ngb-accordion [closeOthers]="true">
  <ngb-panel *ngFor="let event of events" id="static-{{event.id}}">
    <ng-template ngbPanelTitle>
      <div class="card-header--title" style="padding:20px;">
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content pt-3 pl-3 pb-1 box-info">
            <div class="widget-chart-flex">
              <div class="widget-numbers">
                <div class="widget-chart-flex">
                  <div class="fsize-3 top" style="font-weight: 600; width: max-content;">
                    <span>{{event.intitule}}</span>
                  </div>
                </div>
                <div class="fsize-2 mid" *ngIf="event.typeEvenement != null" style="width: max-content;">Événement
                  {{event.typeEvenement.libelle.toLowerCase()}}</div>
              </div>
            </div>
            <h6 class="widget-subheading mb-0 opacity-5" *ngIf="event.budget != null" style="width: max-content;">Budget
              : {{event.budget}}€</h6>
          </div>
        </div>
      </div>
      <div class="box-info fsize-2">
        <div>
          <span *ngIf="event.dateDebut != null">{{event.dateDebut | date:'dd/MM/yyyy'}} à
            {{event.dateDebut | date:'hh:mm'}} </span>
          <span *ngIf="event.dateFin != null"> - {{event.dateFin | date:'dd/MM/yyyy'}} à
            {{event.dateFin | date:'hh:mm'}}</span>
        </div>
        <div class="fsize-1">
          <span *ngIf="event.adresse != null">Localisation : {{event.adresse.numeroVoie}}
            {{event.adresse.typeVoie.libelle}}
            {{event.adresse.nomVoie}}, {{event.adresse.ville.libelle}}, {{event.adresse.ville.pays.libelle}}</span>
          <h6 class="widget-subheading mb-0 opacity-5" *ngIf="event.prix != null">Tarif : {{event.prix}}€</h6>
        </div>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <app-activite-lp-evenement [event]="event"></app-activite-lp-evenement>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<div class="divider"></div>