<!--  -->
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon pe-7s-cash icon-gradient bg-night-fade"></i>
      </div>
      <div class="card-title">
        <h2>
        CHIFFRES ET INFORMATIONS CLÉS
      </h2>
        <div class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="pt-0 pb-0 card-body">
        <h3 class="card-title">ÉVÉNEMENTS</h3>
        <ul class="list-group list-group-flush">
          <app-affichage-evenement-finance *ngFor="let event of evenementsEnCours" [event]="event"></app-affichage-evenement-finance>
        </ul>
      </div>
    </div>
  </div>
</div>