<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div class="card-title">
        <h2>
          {{heading}}
        </h2>
        <div class="page-title-subheading"> {{subheading}}
        </div>
      </div>
    </div>

    <div class="page-title-actions">
      <!-- <button type="button" class="btn-shadow mr-3 btn btn-dark">
            <fa name="star"></fa>
          </button> -->
      <button routerLink="/backmb/creerEvent" type="button"
        class="btn-shadow d-inline-flex align-items-center btn btn-success">

        <!-- <fa class="mr-2" name="plus"></fa> -->
        Ajouter un évenement
      </button>
    </div>
  </div>
</div>