
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Evènements</h5>
    <div class="col-md-12">
        <div class="position-relative form-group"><label for="exampleCustomSelect">Lead Pôle</label><select type="select" id="exampleCustomSelect" name="customSelect"
                                class="custom-select">
          <option value="">Select</option>
          <option>Value 1</option>
          <option>Value 2</option>
          <option>Value 3</option>
          <option>Value 4</option>
          <option>Value 5</option>
        </select></div>
    <form>
      <div class="form-row">
        <div class="col-md-6">
            <div class="position-relative form-group"><label for="exampleState">Date début</label><input id="date" type="date" value="2017-06-01" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group"><label for="examplePassword11">Date Fin</label><input id="date" type="date" value="2017-06-01" class="form-control">
          </div>
        </div>
      </div>
      <div class="position-relative form-group"><label for="exampleState">Intitulé </label><input name="state"
                                                                                                  id="exampleState"
                                                                                                  type="text"
                                                                                                  class="form-control">
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="position-relative form-group"><label for="exampleCity">Sponsor</label><input name="state"
            id="exampleState"
            type="text"
            class="form-control">
</div>
        </div>
        <div class="col-md-4">
          <div class="position-relative form-group"><label for="exampleState">Budget</label><input name="state"
                                                                                                  id="exampleState"
                                                                                                  type="text"
                                                                                                  class="form-control">
          </div>
        </div>
        <div class="col-md-2">
          <div class="position-relative form-group"><label for="exampleZip">Prix</label><input name="state"
            id="exampleState"
            type="text"
            class="form-control">
</div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Activités</h5>
    <form>
      <div class="form-row">
        <div class="col-md-6">
            <div class="position-relative form-group"><label for="exampleCustomSelect">Type activités</label><select type="select" id="exampleCustomSelect" name="customSelect"
              class="custom-select">
<option value="">Select</option>
<option>Value 1</option>
<option>Value 2</option>
<option>Value 3</option>
<option>Value 4</option>
<option>Value 5</option>
</select></div>
        </div>
        <div class="col-md-6">
          <div class="position-relative form-group"><label for="examplePassword11">Intitulé</label><input name="state"
            id="exampleState"
            type="text"
            class="form-control">
</div>
        </div>
      </div>
      <div class="position-relative form-group"><label for="exampleAddress">Description de l'activité</label><textarea
        name="text" id="exampleText" class="form-control"></textarea></div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group"><label for="exampleState">Date début</label><input id="date" type="date" value="2017-06-01" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative form-group"><label for="examplePassword11">Date Fin</label><input id="date" type="date" value="2017-06-01" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-row">
              <div class="col-md-6">
                <div class="position-relative form-group"><label for="exampleCity">Budget</label><input name="state"
                  id="exampleState"
                  type="text"
                  class="form-control">
      </div>
              </div>
              <div class="col-md-4">
                <div class="position-relative form-group"><label for="exampleState">Prix</label><input name="state"
                                                                                                        id="exampleState"
                                                                                                        type="text"
                                                                                                        class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="position-relative form-group"><label for="exampleZip">Nombre de places</label><input name="state"
                  id="exampleState"
                  type="text"
                  class="form-control">
      </div>
              </div>
            </div>
    </form>
  </div>
</div>
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Localisation</h5>
    <div>
          <div class="position-relative form-group"><label for="exampleAddress">Adresse</label><input name="address"
            id="exampleAddress"
            placeholder="1234 Main St"
            type="text"
            class="form-control">
</div>
      <form>
      </form>
      <div class="divider"></div>
      <div class="form-row">
          <div class="col-md-4">
              <div class="position-relative form-group"><label for="exampleCustomSelect">Pays</label><select type="select" id="exampleCustomSelect" name="customSelect"
                                      class="custom-select">
                <option value="">Select</option>
                <option>Value 1</option>
                <option>Value 2</option>
                <option>Value 3</option>
                <option>Value 4</option>
                <option>Value 5</option>
              </select></div>
          </div>
          <div class="col-md-4">
              <div class="position-relative form-group"><label for="exampleCustomSelect">Ville</label><select type="select" id="exampleCustomSelect" name="customSelect"
                                      class="custom-select">
                <option value="">Select</option>
                <option>Value 1</option>
                <option>Value 2</option>
                <option>Value 3</option>
                <option>Value 4</option>
                <option>Value 5</option>
              </select></div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group"><label for="exampleZip">Code postal</label><input name="state"
              id="exampleState"
              type="text"
              class="form-control">
  </div>
          </div>
    </div>
  </div>
</div>
<div>
    <button class="mb-2 mr-2 btn-hover-shine btn btn-secondary">Créer l'évènement
      </button>
</div>


