<div class="h-100 bg-plum-plate bg-animation">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="modal-dialog w-100 mx-auto">
        <div class="modal-content">
          <div class="modal-body">
            <div class="h5 modal-title text-center">
              <h4 class="mt-2">
                <div>Pour vous connecter à votre espace Sponsor,</div>
                <span>C'est par ici !</span>
              </h4>
            </div>
            <div id="exampleInputGroup1" role="group" aria-describedby="exampleInputGroup1__BV_description_" class="form-group">
              <div>
                <input id="exampleInput1" [(ngModel)] = "mail" type="email" placeholder="Enter email..." required="required" aria-required="true"
                  class="form-control" aria-describedby="exampleInputGroup1__BV_description_">
                <small tabindex="-1" id="exampleInputGroup1__BV_description_" class="form-text text-muted"><span class="message">{{message}}</span>
                </small>
              </div>
            </div>
            <div id="exampleInputGroup2" role="group" class="form-group">
              <div>
                <input id="exampleInput2" [(ngModel)] = "mdp" type="password" placeholder="Enter password..." required="required" aria-required="true"
                  class="form-control">
              </div>
            </div>
            <div class="custom-control custom-checkbox">
              <input id="exampleCheck" type="checkbox" name="check" autocomplete="off" class="custom-control-input" value="true">
              <label for="exampleCheck" class="custom-control-label">
                Rester connecté
              </label>
            </div>
            <div class="divider"></div>
            <h6 class="mb-0">
              <a routerLink="/back-connect" class="text-primary">Connexion espace gestion</a>
            </h6>
          </div>
          <div class="modal-footer clearfix">
            <div class="float-left">
              <a [routerLink]="" class="btn-lg btn btn-link">Mot de passe oublié
              </a>
            </div>
            <div class="float-right">
              <button type="button" (click)="methodeConnexionFront()" class="btn btn-primary btn-lg">Se connecter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>