<div class="col-md-6">
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Nouvel évènement :</h5>
    <br/>
    <form>
      <div class="position-relative row form-group"><label for="exampleEmail" class="col-sm-2 col-form-label">Intitulé</label>
        <div class="col-sm-10"><input name="email" id="exampleEmail" placeholder="intitulé personnalisé de l'évènement"
                                      type="text" class="form-control"></div>
      </div>
      <div class="position-relative row form-group"><label for="examplePassword"
                                                           class="col-sm-2 col-form-label">Date de début</label>
        <div class="col-sm-10"><input name="password" id="examplePassword" placeholder="password placeholder"
                                      type="date" class="form-control"></div>
      </div>
      <div class="position-relative row form-group"><label for="examplePassword"
        class="col-sm-2 col-form-label">Date de fin</label>
<div class="col-sm-10"><input name="password" id="examplePassword" placeholder="password placeholder"
type="date" class="form-control"></div>
</div>
    
      <div class="position-relative row form-group"><label for="exampleText" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10"><textarea name="text" id="exampleText" class="form-control"></textarea></div>
      </div>

      <button type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
        <fa class="mr-2" name="plus"></fa>
        Ajouter une activité
      </button>

      <div id="collapseExample" class="mt-3" [ngbCollapse]="isCollapsed">
        <div class="card">
          <div class="card-body">
            You can collapse this card by clicking Toggle
          </div>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="exampleSelectMulti"
        class="col-sm-2 col-form-label">Select
Multiple</label>
<div class="col-sm-10"><select multiple="multiple" name="selectMulti" id="exampleSelectMulti"
class="form-control"></select></div>
</div>
      <div class="position-relative row form-group"><label for="exampleFile"
                                                           class="col-sm-2 col-form-label">File</label>
        <div class="col-sm-10"><input name="file" id="exampleFile" type="file" class="form-control-file">
          <small class="form-text text-muted">This is some placeholder block-level help text for the above
            input. It's a bit lighter and easily wraps to a new line.
          </small>
        </div>
      </div>
      <fieldset class="position-relative row form-group">
        <legend class="col-form-label col-sm-2">Radio Buttons</legend>
        <div class="col-sm-10">
          <div class="position-relative form-check"><label class="form-check-label"><input name="radio2"
                                                                                           type="radio"
                                                                                           class="form-check-input">
            Option one is this and that—be sure to include why it's great</label></div>
          <div class="position-relative form-check"><label class="form-check-label"><input name="radio2"
                                                                                           type="radio"
                                                                                           class="form-check-input">
            Option two can be something else and selecting it will deselect option one</label></div>
          <div class="position-relative form-check disabled"><label class="form-check-label"><input
                  name="radio2" disabled="disabled" type="radio" class="form-check-input"> Option three is
            disabled</label></div>
        </div>
      </fieldset>
      <div class="position-relative row form-group"><label for="checkbox2" class="col-sm-2 col-form-label">Checkbox</label>
        <div class="col-sm-10">
          <div class="position-relative form-check"><label class="form-check-label"><input id="checkbox2"
                                                                                           type="checkbox"
                                                                                           class="form-check-input">
            Check me out</label></div>
        </div>
      </div>
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button class="btn btn-secondary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>