.budget
    margin-top: 0px !important
    padding-left: 280px

.date
    left: 450px

.date-size
    font-size: 1.25rem

.activity
    width: max-content

.widget-numbers
    margin-top: 0px !important
    margin-bottom: 10px

.activities
    padding: 0px

.elements
    padding-top: 0px
    padding-bottom: 0px

.hr
    margin-top: 0px !important
    margin-bottom: 10px !important

 