<!-- Header Area Start -->
<header class="header-area">
  <!-- Main Header Start -->
  <div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="razoNav">

          <!-- Logo -->
          <a class="nav-brand">
            <img src="assets/images/core-img/logo.eventika4.png" alt="">
          </a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- Menu Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap">
                <span class="top"></span>
                <span class="bottom"></span>
              </div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav">
                <li>
                  <a routerLink="/">Accueil</a>
                </li>
                <li>
                    <a routerLink="/sponsor">Sponsors</a>
                </li>
              </ul>
              <a routerLink="/front-connect">
                <div class="connection-icon">
                  <i class="icon_profile"></i>
                </div>
              </a>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>