.ticket-icon ul
    width: 425px;
    position: absolute;
    background-color: #ffffff;
    top: 120%;
    left: 0;
    z-index: 100;
    height: auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition-duration: 300ms;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    border-radius: 6px
    max-height: 450px
    overflow: auto;

.ticket-icon:hover .dropdown
    opacity: 1;
    visibility: visible;
    top: 100%;

.ticket-icon .dropdown li
    position: relative
    display: block
    z-index: 10

.ticket-icon .dropdown li a
    font-size: 13px;
    text-transform: capitalize;
    height: 42px;
    line-height: 42px;
    padding: 0 30px;
    color: #191919;
    font-weight: 600;
    border-bottom: 1px solid rgba(242, 244, 248, 0.7);
    display: block

.nb-produits    
    position: absolute;
    top: 10px;
    left: 12px;
    background-color: #dc2878

.ticket-icon i
    font-size: 20px

.dropdown span
    color: #191919;
    float: right
    padding: 15px

.dropdown button
    margin: 1em