<!-- Footer Area Start -->
<footer class="footer-area">
  <!-- Main Footer Area -->
  <div class="main-footer-area section-padding-80-0">
    <div class="container">
      <div class="row justify-content-between">

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <div class="single-footer-widget mb-80">
            <!-- Footer Logo -->
            <a routerLink="/" class="footer-logo">
              <img src="assets/images/core-img/logo2.png" alt="logo2">
            </a>

            <p class="mb-30">Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>

            <!-- Footer Content -->
            <div class="footer-content">

              <!-- Single Contact Info -->
              <div class="single-contact-info d-flex">
                <div class="icon">
                  <i class="icon_pin"></i>
                </div>
                <div class="text">
                  <p>24 No. Amazing Valley, Aewsome St. New York, USA</p>
                </div>
              </div>

              <!-- Single Contact Info -->
              <div class="single-contact-info d-flex">
                <div class="icon">
                  <i class="icon_phone"></i>
                </div>
                <div class="text">
                  <p>+11 123 4567890</p>
                </div>
              </div>

              <!-- Single Contact Info -->
              <div class="single-contact-info d-flex">
                <div class="icon">
                  <i class="icon_mail_alt"></i>
                </div>
                <div class="text">
                  <p>info.colorlib@gmail.com</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <div class="single-footer-widget mb-80">

            <!-- Widget Title -->
            <h4 class="widget-title">Twitter Feed</h4>

            <!-- Single Twitter Feed -->
            <div class="single-twitter-feed d-flex">
              <div class="tweet-icon">
                <i class="fa fa-twitter"></i>
              </div>
              <div class="tweet">
                <p>
                  <a href="#">Kerem Suer</a> @kerem American conducts it first ever done strike Qaeda</p>
              </div>
            </div>

            <!-- Single Twitter Feed -->
            <div class="single-twitter-feed d-flex">
              <div class="tweet-icon">
                <i class="fa fa-twitter"></i>
              </div>
              <div class="tweet">
                <p>
                  <a href="#">Axel Hervelle</a> @axel_hervelle Tens of thousands attend rallies held in D.C.</p>
              </div>
            </div>

            <!-- Single Twitter Feed -->
            <div class="single-twitter-feed d-flex">
              <div class="tweet-icon">
                <i class="fa fa-twitter"></i>
              </div>
              <div class="tweet">
                <p>
                  <a href="#">Chris Pratt</a> @chris_pratt Hundreds of protesters shut down meeting.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-md-4 col-xl-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">Instagram</h4>

            <!-- Instagram Area -->
            <div class="razo-instagram-area d-flex flex-wrap">
              <!-- Single Instagram Feed -->
              <div class="single-instagram-feed">
                <a href="#">
                  <img src="assets/images/bg-img/2.jpg" alt="">
                </a>
              </div>

              <!-- Single Instagram Feed -->
              <div class="single-instagram-feed">
                <a href="#">
                  <img src="assets/images/bg-img/3.jpg" alt="">
                </a>
              </div>

              <!-- Single Instagram Feed -->
              <div class="single-instagram-feed">
                <a href="#">
                  <img src="assets/images/bg-img/4.jpg" alt="">
                </a>
              </div>

              <!-- Single Instagram Feed -->
              <div class="single-instagram-feed">
                <a href="#">
                  <img src="assets/images/bg-img/5.jpg" alt="">
                </a>
              </div>

              <!-- Single Instagram Feed -->
              <div class="single-instagram-feed">
                <a href="#">
                  <img src="assets/images/bg-img/6.jpg" alt="">
                </a>
              </div>

              <!-- Single Instagram Feed -->
              <div class="single-instagram-feed">
                <a href="#">
                  <img src="assets/images/bg-img/7.jpg" alt="">
                </a>
              </div>

              <!-- Single Instagram Feed -->
              <div class="single-instagram-feed">
                <a href="#">
                  <img src="assets/images/bg-img/8.jpg" alt="">
                </a>
              </div>

              <!-- Single Instagram Feed -->
              <div class="single-instagram-feed">
                <a href="#">
                  <img src="assets/images/bg-img/9.jpg" alt="">
                </a>
              </div>

              <!-- Single Instagram Feed -->
              <div class="single-instagram-feed">
                <a href="#">
                  <img src="assets/images/bg-img/10.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Footer Area End -->
</footer>
<!-- Footer Area End -->