<div *ngFor="let activite of activites">
  <div class="no-gutters row" style="height: 100px;">
    <div class="col-sm-6 col-md-4 col-xl-4">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-left activity activities">
        <div class="icon-wrapper rounded-circle">
          <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
          <i class="pe-7s-video"></i>
        </div>
        <div class="widget-chart-content">
          <div class="widget-subheading">Activité</div>
          <div class="widget-numbers" style="font-size: 20px">{{activite.intitule}}</div>
          <div *ngIf="activite.nombrePlace" class="widget-description opacity-8 text-focus">
            <div class="d-inline text-danger pr-1">
              <span class="pl-1">Nombre de places : </span>
            </div>
            {{activite.nombrePlace}}
          </div>
        </div>
      </div>
      <div class="divider m-0 d-md-none d-sm-block"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-4 date">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-left elements">
        <div class="icon-wrapper rounded-circle">
          <div class="icon-wrapper-bg opacity-9 bg-danger"></div>
          <i class="pe-7s-date"></i>
        </div>
        <div class="widget-chart-content">
          <div class="widget-subheading">Dates</div>
          <div class="widget-numbers date-size" style="font-size: 15px">
            <div>Du {{activite.dateDebut | date:'dd/MM/yyyy'}} à
              {{activite.dateDebut | date:'hh:mm'}}</div>
            <div>au {{activite.dateDebut | date:'dd/MM/yyyy'}} à
              {{activite.dateDebut | date:'hh:mm'}}</div>
          </div>
        </div>
      </div>
      <div class="divider m-0 d-md-none d-sm-block"></div>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-left budget elements">
        <div class="icon-wrapper rounded-circle">
          <div class="icon-wrapper-bg opacity-9 bg-success"></div>
          <i class="pe-7s-piggy"></i>
        </div>
        <div class="widget-chart-content">
          <div class="widget-subheading">Budget</div>
          <div class="widget-numbers text-success" style="font-size: 20px">
            <span>{{activite.budget}}€</span>
          </div>
          <div *ngIf="activite.prix" class="widget-description text-focus">
            Tarif :
            <span class="text-warning pl-1">
              <span class="pl-1">{{activite.prix}}€</span>
            </span>
          </div>
          <div *ngIf="activite.prix == 0" class="widget-description text-focus">
            <span class="text-warning pl-1">
              <span class="pl-1">Gratuite</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr"/>
</div>
